.git
*.log
*.swp

.dockerignore
docker-compose.yml
.docker

.Python
env*/
venv*/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg*.pyc
__pycache__